.findexl__container{
    .grid-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, 50%);
        min-height: 800px;

        .grid-item{
            /* border: 1px solid rgba(253, 253, 253, 0.8); */
            font-size: 30px;
            text-align: center;
            color:  white;   
        }

        .right-zone{
            background-image: url('/arquivos/findexl-background-left.jpg');
            background-position-x: 100%;
            .fix-width{ 
                max-width: 720px;
                float: right;
                padding: 0px 65px;
                .cont-countdown{
                    margin-top:  85px; 
                    p{ 
                        font-weight:  700;
                        font-size:  35px;
                        margin-bottom: 25px; 
                        color: #393939; 
                    } 
    
                    .grid-countdown{
                        display: grid;
                        grid-template-columns: repeat(auto-fit, 180px);
                        grid-gap: 20px;
                        justify-content: center;
                        .item-countdown{
                            padding: 20px;
                            background: #fff;
                            border: solid 1px #393939; 
                            .number{
                                font-weight:  700;
                                font-size:  60px;
                                line-height: 0.8; 
                                color: #393939;      
                            }
    
                            .info-date{
                                font-size:  18px;
                                color: #95cd29;
                                margin-top: 5px;
                                letter-spacing: 3px; 
                                font-weight: 600; 
                            }

                            &:first-child{
                                border-radius: 8px 0px 0px 8px;
                            } 

                            &:last-child{
                                border-radius: 0 8px 8px 0;
                            }
                        }
                    }
                }
    
                .cont-info{
                    margin-top:  20px;
                    p{
                        font-size:  25px;
                        margin-bottom:  15px;
                        color: #393939;
                    }
    
                    .finde-xl-image{
                        margin-bottom:  30px;
                        img{
                            margin:  0 auto;
                        }
                    }
    
                    div{
                        font-size:  32px;
                        color: #393939;
                    }
    
                    p:last-child{
                        font-size:  21px;
                        width: 70%;
                        margin: 0 auto;
                        span{
                            color: #1fa02e;
                            font-weight:  bold; 
                        }
                    }
                }
    
                .cont-categories{
                    padding: 0 50px;
                    margin: 50px 0;
                    .top{
                        display: grid;
                        height: 100%;
                        grid-template-columns: 1fr 1fr 1fr 1fr;
                        grid-template-rows: 1fr;
                        grid-gap: 15px 15px;
                        grid-template-areas: "tecnologia electro bebes hogar";
                        margin-bottom: 40px;
                        .tecnologia { 
                            grid-area: tecnologia; 
                        }

                        .electro { 
                            grid-area: electro; 
                        }

                        .bebes { 
                            grid-area: bebes; 
                        }

                        .supermercado { 
                            grid-area: 2 / 4 / 3 / 5; 
                        }

                        .hogar { 
                            grid-area: hogar; 
                        }
                    }

                    .bottom{
                        display: grid;
                        height: 100%;
                        grid-template-columns: 1fr 1fr 1fr;
                        grid-template-rows: 1fr;
                        grid-gap: 15px 15px;
                        grid-template-areas: "deportes auto supermercado";
                        padding: 0px 60px;
                        .supermercado { 
                            grid-area: supermercado; 
                        }

                        .deportes {  
                            grid-area: deportes; 
                        }

                        .auto { 
                            grid-area: auto; 
                        }

                        .supermercado { 
                            grid-area: supermercado;  
                        }
                    }
                }
    
                .next-event{
                    font-size: 31px;
                    color: #393939;
                    font-weight: 400;   
                }

                .go-to-home{
                    a{
                    font-size: 23px;
                    text-decoration: underline;
                    font-weight: 500;
                    text-align: right;
                    width: 100%;
                    margin-top: 60px;
                    color: #393939; 
                    }
                }
            }
        }

        .left-zone{
            img{
                height:  100%;
                max-width:  initial;
                margin-left: -95px;
            }
        }
    }

    &.wrapper{
        background-color: #fff; 
    }
}