.findexl__container{
    .grid-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, 50%);
        min-height: 800px;
        @media screen and (max-width: 1440px) {
            grid-template-columns: repeat(auto-fit, 100%);
        }
        .grid-item{
            /* border: 1px solid rgba(253, 253, 253, 0.8); */
            font-size: 30px;
            text-align: center;
            color:  white;   
        }

        .right-zone{
            background-image: url('/arquivos/findexl-background-left.jpg');
            background-position-x: 100%;
            background-size: auto 100%;
            .fix-width{ 
                max-width: 720px;
                float: right;
                padding: 0px 65px;
                @media screen and (max-width: 1440px) {
                    float: initial;
                    margin: 0 auto;
                }

                @media screen and (max-width: 600px) {
                    padding: 0px 10px;
                }
                .cont-countdown{
                    margin-top:  85px; 
                    p{ 
                        font-weight:  700;
                        font-size:  35px;
                        margin-bottom: 25px; 
                        color: #393939;   
                    } 
    
                    .grid-countdown{
                        display: grid;
                        grid-template-columns: repeat(auto-fit, 180px);
                        grid-gap: 20px;
                        justify-content: center;
                        @media screen and (max-width: 960px) {
                            grid-template-columns: repeat(3, 1fr);
                        }

                        @media screen and (max-width: 600px) {
                            grid-gap: 10px;
                        }
                        .item-countdown{
                            padding: 20px;
                            background: #fff;
                            border: solid 1px #393939; 
                            @media screen and (max-width: 600px) {
                                padding: 5px;
                                .number{
                                    font-size: 40px !important;
                                }

                                .info-date{
                                    font-size:  12px !important; 
                                }
                            }
                            .number{ 
                                font-weight:  700;
                                font-size:  60px;
                                line-height: 0.8; 
                                color: #393939;      
                            }
    
                            .info-date{
                                font-size:  18px;
                                color: #95cd29;
                                margin-top: 5px;
                                letter-spacing: 3px; 
                                font-weight: 600; 
                            }

                            &:first-child{
                                border-radius: 8px 0px 0px 8px;
                            } 

                            &:last-child{
                                border-radius: 0 8px 8px 0;
                            }
                        }
                    }
                }
    
                .cont-info{
                    margin-top:  20px;
                    @media screen and (max-width: 480px) {
                        p{
                            font-size:  16px !important;
                        }

                        p:last-child{
                            width: 100% !important;
                        }
                    }
                    p{
                        font-size:  25px;
                        margin-bottom: -10px; 
                        color: #393939;
                    }
    
                    .finde-xl-image{
                        margin-bottom:  30px;
                        img{
                            margin:  0 auto;
                        }
                    }
    
                    div{
                        font-size:  32px;
                        color: #393939;
                    }
    
                    p:last-child{
                        font-size:  21px;
                        width: 70%;
                        margin: 0 auto;
                        span{
                            color: #1fa02e;
                            font-weight:  bold; 
                        }
                    }
                }
    
                .cont-categories{
                    padding: 0 50px;
                    margin: 50px 0;
                    color: #323232;
                    font-size: 15px;
                    font-weight: 600;
                    .top{
                        display: grid;
                        height: 100%; 
                        grid-template-columns: 1fr 1fr 1fr 1fr;
                        grid-template-rows: 1fr;
                        grid-gap: 15px 15px;
                        grid-template-areas: "tecnologia electro bebes hogar";
                        margin-bottom: 30px;
                        .tecnologia { 
                            grid-area: tecnologia; 
                        }

                        .electro { 
                            grid-area: electro; 
                        }

                        .bebes { 
                            grid-area: bebes; 
                        }

                        .supermercado { 
                            grid-area: 2 / 4 / 3 / 5; 
                        }

                        .hogar { 
                            grid-area: hogar; 
                        }
                    }

                    .bottom{
                        display: grid;
                        height: 100%;
                        grid-template-columns: 1fr 1fr 1fr;
                        grid-template-rows: 1fr;
                        grid-gap: 15px 15px;
                        grid-template-areas: "deportes auto supermercado";
                        padding: 0px 60px;
                        .supermercado { 
                            grid-area: supermercado; 
                        }

                        .deportes {  
                            grid-area: deportes; 
                        }

                        .auto { 
                            grid-area: auto; 
                        }

                        .supermercado { 
                            grid-area: supermercado;  
                        }
                    }

                    .font-icn-cat{
                        font-size: 40px;
                        font-weight: 100;
                        padding-bottom: 5px;
                    }

                    @media screen and (max-width: 480px) {
                        padding: 0 5px;
                        .top,.bottom{
                            display: inline-block;
                            width: 100%;
                            padding: 0;
                            margin: 0;
                            & > div{
                                float: right;
                                width: 50%;
                                text-align: center;
                                margin-bottom: 20px;
                            }
                        }
                    }
                }
    
                .next-event{
                    font-size: 25px;
                    color: #393939;
                    font-weight: 400;   
                    @media screen and (max-width: 480px) {
                        font-size: 18px;
                    }
                }

                .go-to-home{
                    a{
                    font-size: 23px;
                    text-decoration: underline;
                    font-weight: 500;
                    text-align: right;
                    width: 100%;
                    margin-top: 60px;
                    color: #393939; 
                    margin-bottom: 50px;
                    }

                    @media screen and (max-width: 480px) {
                        a{
                            text-align: center;
                        }
                    }
                }
            }
        }

        .left-zone{ 
            @media screen and (max-width: 1440px) {
                display: none;
              }
            img{
                height:  100%;
                max-width:  initial;
                margin-left: -112px;
            }
        }
    }

    &.wrapper{
        background-color: #fff; 
        @media screen and (max-width: 960px) and (min-width: 761px) { 
            min-width: initial !important;
        } 
    } 
}